
@tailwind base;

@font-face {
  font-family: Poppins;
  src: url("/fonts/poppins/Poppins-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src: url("/fonts/poppins/Poppins-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: 'Noto Sans';
  src: url("/fonts/NotoSans/NotoSans-Regular.ttf");
  font-weight: 400;
}



@font-face {
  font-family: Poppins;
  src: url("/fonts/poppins/Poppins-Regular.ttf");
  font-weight: 400;
}




/* default typography styles */
/* Styles inherited from https://milligram.io/#getting-started */

img {
  @apply w-full h-auto m-auto;
}


table,
ul,
ol,
dl,
p,
small,
strong,
u,
span,
em {
  @apply text-gray-700 tracking-wide leading-relaxed text-lg mt-6;
}

small,
strong,
u,
em,
table {
  @apply text-base;
}

em {
  @apply italic bg-secondary-50;
}


h1 {
  @apply text-4xl;

}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

h6 {
  @apply text-lg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-gray-800 leading-tight font-bold mt-6;
}


/* small , strong, underlined has default tailwind styles which good */
blockquote,
q {
  @apply my-5 ml-5 pl-4 pb-10 pt-5 pr-5 rounded-lg bg-gray-100 border-l-4 border-secondary-base text-secondary-600 tracking-tight;
}

q p,
q span,
q div,
q small,
q b,
q i,
q footer,
q cite,
blockquote p,
blockquote span,
blockquote div,
blockquote small,
blockquote b,
blockquote i,
blockquote footer,
blockquote cite {
  @apply text-gray-600 tracking-wide;
}

blockquote footer,
blockquote cite,
blockquote cite p,
blockquote cite div,
blockquote cite small,
blockquote cite b,
blockquote cite i {
  @apply text-gray-500 italic;
}


ul,
ol,
dl {
  @apply px-5;
}

ul {
  @apply list-disc;
}

ol {
  @apply list-decimal;
}

dl dt {
  @apply bg-gray-100;

}

dl dt {
  @apply pl-5
}


tr {
  @apply relative;
}

tr td {
  @apply text-gray-800 px-6 text-left p-3;

}


table{
  @apply m-auto;
}
thead tr {
  @apply bg-gray-300;
}

thead tr th {
  @apply font-bold text-left p-4 text-secondary-600;
}

tr::before {
  content: '';
  height: 5px;
  width: 100%;
  @apply flex absolute inset-x-0 bottom-0 p-10 border-b-4 border-gray-300
}


hr {
  @apply my-3;
}


a {
  @apply text-secondary-base;
}

a:hover {
  @apply text-secondary-800;
}

a:active {
  @apply text-secondary-800;
}

@screen sm {


  h1 {
    @apply text-6xl;

  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-2xl;
  }

  h5 {
    @apply text-xl;
  }

  h6 {
    @apply text-lg;
  }

  table,
  ul,
  ol,
  dl,
  p {
    @apply tracking-widest text-xl;
  }

  table{
    @apply m-auto;
  }

small,
strong,
u,
em,
table {
  @apply text-lg;
}


  /* small , strong, underlined has default tailwind styles which good */
  blockquote,
  q {
    @apply my-8 ml-10 pl-10 pb-10 pt-5 pr-5 rounded-lg bg-gray-100 border-l-8 border-secondary-base text-secondary-600 tracking-tight;
  }


  dl dt {
    @apply pl-5
  }

}

/* SM ENDS */






/* TYPOGRAPHY STYLES ENDS */
